<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/stylesheet.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div style="background-color: #5EB044">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ url_for(".add_event") }}">Add Event</a>
        <a href="#">Settings</a>
        <a href="#">Contact</a>
        <a href="#">About</a>
    </div>
    <div style="display: table;  height: 40px;" onclick="openNav()">
        <div style="padding-left:20px; width: fit-content; color:white; font-size: 16px; display: table-cell; vertical-align: middle;">
            &#9776; Turtle Scheduling
        </div>
    </div>
{#<span style="font-size:16px; height: 40px; padding-left: 2%; display: inline-block; color: white; cursor:pointer" onclick="openNav()">&#9776; Turtle Scheduling</span>#}
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "150px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-1 time-day-header" >&nbsp</div>
        <div class="col-xs-1 day-header">Mon</div>
        <div class="col-xs-1 day-header">Tues</div>
        <div class="col-xs-1 day-header">Wed</div>
        <div class="col-xs-1 day-header">Thurs</div>
        <div class="col-xs-1 day-header">Fri</div>
        <div class="col-xs-1 day-header">Sat</div>
        <div class="col-xs-1 day-header">Sun</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">9:00am</div>
        <div class="col-xs-1 time-cell">{{ m0090 }}</div>
        <div class="col-xs-1 time-cell"> {{ t0090 }}</div>
        <div class="col-xs-1 time-cell">{{ w0090 }}</div>
        <div class="col-xs-1 time-cell"> {{ th0090 }}</div>
        <div class="col-xs-1 time-cell">{{ f0090 }}</div>
        <div class="col-xs-1 time-cell">{{ sa0090 }}</div>
        <div class="col-xs-1 time-cell">{{ su0090 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">9:30am</div>
        <div class="col-xs-1 time-cell">{{ m0930 }}</div>
        <div class="col-xs-1 time-cell"> {{ t0930 }}</div>
        <div class="col-xs-1 time-cell">{{ w0930 }}</div>
        <div class="col-xs-1 time-cell"> {{ th0930 }}</div>
        <div class="col-xs-1 time-cell">{{ f0930 }}</div>
        <div class="col-xs-1 time-cell">{{ sa0930 }}</div>
        <div class="col-xs-1 time-cell">{{ su0930 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">10:00am</div>
        <div class="col-xs-1 time-cell">{{ m1000 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1000 }}</div>
        <div class="col-xs-1 time-cell">{{ w1000 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1000 }}</div>
        <div class="col-xs-1 time-cell">{{ f1000 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1000 }}</div>
        <div class="col-xs-1 time-cell">{{ su1000 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">10:00am</div>
        <div class="col-xs-1 time-cell">{{ m1000 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1000 }}</div>
        <div class="col-xs-1 time-cell">{{ w1000 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1000 }}</div>
        <div class="col-xs-1 time-cell">{{ f1000 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1000 }}</div>
        <div class="col-xs-1 time-cell">{{ su1000 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">10:30am</div>
        <div class="col-xs-1 time-cell">{{ m1030 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1030 }}</div>
        <div class="col-xs-1 time-cell">{{ w1030 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1030 }}</div>
        <div class="col-xs-1 time-cell">{{ f1030 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1030 }}</div>
        <div class="col-xs-1 time-cell">{{ su1030 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">11:00am</div>
        <div class="col-xs-1 time-cell">{{ m1100 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1100 }}</div>
        <div class="col-xs-1 time-cell">{{ w1100 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1100 }}</div>
        <div class="col-xs-1 time-cell">{{ f1100 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1100 }}</div>
        <div class="col-xs-1 time-cell">{{ su1100 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">11:30am</div>
        <div class="col-xs-1 time-cell">{{ m1130 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1130 }}</div>
        <div class="col-xs-1 time-cell">{{ w1130 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1130 }}</div>
        <div class="col-xs-1 time-cell">{{ f1130 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1130 }}</div>
        <div class="col-xs-1 time-cell">{{ su1130 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">12:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1200 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1200 }}</div>
        <div class="col-xs-1 time-cell">{{ w1200 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1200 }}</div>
        <div class="col-xs-1 time-cell">{{ f1200 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1200 }}</div>
        <div class="col-xs-1 time-cell">{{ su1200 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">12:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1230 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1230 }}</div>
        <div class="col-xs-1 time-cell">{{ w1230 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1230 }}</div>
        <div class="col-xs-1 time-cell">{{ f1230 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1230 }}</div>
        <div class="col-xs-1 time-cell">{{ su1230 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">01:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1300 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1300 }}</div>
        <div class="col-xs-1 time-cell">{{ w1300 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1300 }}</div>
        <div class="col-xs-1 time-cell">{{ f1300 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1300 }}</div>
        <div class="col-xs-1 time-cell">{{ su1300 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">01:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1330 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1330 }}</div>
        <div class="col-xs-1 time-cell">{{ w1330 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1330 }}</div>
        <div class="col-xs-1 time-cell">{{ f1330 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1330 }}</div>
        <div class="col-xs-1 time-cell">{{ su1330 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">02:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1400 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1400 }}</div>
        <div class="col-xs-1 time-cell">{{ w1400 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1400 }}</div>
        <div class="col-xs-1 time-cell">{{ f1400 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1400 }}</div>
        <div class="col-xs-1 time-cell">{{ su1400 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">02:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1430 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1430 }}</div>
        <div class="col-xs-1 time-cell">{{ w1430 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1430 }}</div>
        <div class="col-xs-1 time-cell">{{ f1430 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1430 }}</div>
        <div class="col-xs-1 time-cell">{{ su1430 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">03:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1500 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1500 }}</div>
        <div class="col-xs-1 time-cell">{{ w1500 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1500 }}</div>
        <div class="col-xs-1 time-cell">{{ f1500 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1500 }}</div>
        <div class="col-xs-1 time-cell">{{ su1500 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">03:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1530 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1530 }}</div>
        <div class="col-xs-1 time-cell">{{ w1530 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1530 }}</div>
        <div class="col-xs-1 time-cell">{{ f1530 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1530 }}</div>
        <div class="col-xs-1 time-cell">{{ su1530 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">04:00pm</div>
        <div class="col-xs-1 time-cell">{{ m16000 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1600 }}</div>
        <div class="col-xs-1 time-cell">{{ w1600 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1600 }}</div>
        <div class="col-xs-1 time-cell">{{ f1600 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1600 }}</div>
        <div class="col-xs-1 time-cell">{{ su1600 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">04:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1630 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1630 }}</div>
        <div class="col-xs-1 time-cell">{{ w1630 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1630 }}</div>
        <div class="col-xs-1 time-cell">{{ f1630 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1630 }}</div>
        <div class="col-xs-1 time-cell">{{ su1630 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">05:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1700 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1700 }}</div>
        <div class="col-xs-1 time-cell">{{ w1700 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1700 }}</div>
        <div class="col-xs-1 time-cell">{{ f17000 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1700 }}</div>
        <div class="col-xs-1 time-cell">{{ su1700 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">05:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1730 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1730 }}</div>
        <div class="col-xs-1 time-cell">{{ w1730 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1730 }}</div>
        <div class="col-xs-1 time-cell">{{ f1730 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1730 }}</div>
        <div class="col-xs-1 time-cell">{{ su1730 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">06:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1800 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1800 }}</div>
        <div class="col-xs-1 time-cell">{{ w1800 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1800 }}</div>
        <div class="col-xs-1 time-cell">{{ f1800 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1800 }}</div>
        <div class="col-xs-1 time-cell">{{ su1800 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">06:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1830 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1830 }}</div>
        <div class="col-xs-1 time-cell">{{ w1830 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1830 }}</div>
        <div class="col-xs-1 time-cell">{{ f1830 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1830 }}</div>
        <div class="col-xs-1 time-cell">{{ su1830 }}</div>
    </div><div class="row">
        <div class="col-xs-1 time-header">07:00pm</div>
        <div class="col-xs-1 time-cell">{{ m1900 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1900 }}</div>
        <div class="col-xs-1 time-cell">{{ w1900 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1900 }}</div>
        <div class="col-xs-1 time-cell">{{ f1900 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1900 }}</div>
        <div class="col-xs-1 time-cell">{{ su1900 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">07:30pm</div>
        <div class="col-xs-1 time-cell">{{ m1930 }}</div>
        <div class="col-xs-1 time-cell"> {{ t1930 }}</div>
        <div class="col-xs-1 time-cell">{{ w1930 }}</div>
        <div class="col-xs-1 time-cell"> {{ th1930 }}</div>
        <div class="col-xs-1 time-cell">{{ f1930 }}</div>
        <div class="col-xs-1 time-cell">{{ sa1930 }}</div>
        <div class="col-xs-1 time-cell">{{ su1930 }}</div>
    </div><div class="row">
        <div class="col-xs-1 time-header">08:00pm</div>
        <div class="col-xs-1 time-cell">{{ m2000 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2000 }}</div>
        <div class="col-xs-1 time-cell">{{ w2000 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2000 }}</div>
        <div class="col-xs-1 time-cell">{{ f2000 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2000 }}</div>
        <div class="col-xs-1 time-cell">{{ su2000 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">08:30pm</div>
        <div class="col-xs-1 time-cell">{{ m2030 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2030 }}</div>
        <div class="col-xs-1 time-cell">{{ w2030 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2030 }}</div>
        <div class="col-xs-1 time-cell">{{ f2030 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2030 }}</div>
        <div class="col-xs-1 time-cell">{{ su2030 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">09:00pm</div>
        <div class="col-xs-1 time-cell">{{ m2100 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2100 }}</div>
        <div class="col-xs-1 time-cell">{{ w2100 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2100 }}</div>
        <div class="col-xs-1 time-cell">{{ f2100 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2100 }}</div>
        <div class="col-xs-1 time-cell">{{ su2100 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">09:30pm</div>
        <div class="col-xs-1 time-cell">{{ m2130 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2130 }}</div>
        <div class="col-xs-1 time-cell">{{ w2130 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2130 }}</div>
        <div class="col-xs-1 time-cell">{{ f2130 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2130 }}</div>
        <div class="col-xs-1 time-cell">{{ su2130 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">10:00pm</div>
        <div class="col-xs-1 time-cell">{{ m2200 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2200 }}</div>
        <div class="col-xs-1 time-cell">{{ w2200 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2200 }}</div>
        <div class="col-xs-1 time-cell">{{ f2200 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2200 }}</div>
        <div class="col-xs-1 time-cell">{{ su2200 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">10:30pm</div>
        <div class="col-xs-1 time-cell">{{ m2230 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2230 }}</div>
        <div class="col-xs-1 time-cell">{{ w2230 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2230 }}</div>
        <div class="col-xs-1 time-cell">{{ f2230 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2230 }}</div>
        <div class="col-xs-1 time-cell">{{ su2230 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">11:00pm</div>
        <div class="col-xs-1 time-cell">{{ m2300 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2300 }}</div>
        <div class="col-xs-1 time-cell">{{ w2300 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2300 }}</div>
        <div class="col-xs-1 time-cell">{{ f2300 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2300 }}</div>
        <div class="col-xs-1 time-cell">{{ su2300 }}</div>
    </div>
    <div class="row">
        <div class="col-xs-1 time-header">11:30pm</div>
        <div class="col-xs-1 time-cell">{{ m2330 }}</div>
        <div class="col-xs-1 time-cell"> {{ t2330 }}</div>
        <div class="col-xs-1 time-cell">{{ w2330 }}</div>
        <div class="col-xs-1 time-cell"> {{ th2330 }}</div>
        <div class="col-xs-1 time-cell">{{ f2330 }}</div>
        <div class="col-xs-1 time-cell">{{ sa2330 }}</div>
        <div class="col-xs-1 time-cell">{{ su2330 }}</div>
    </div>
</div>
</body>
</html>
